.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
div{
  margin-top: 5px;
}
span{
  padding: 10px;
  font-size: larger;
}
.btn_change_color{
  padding: 8px;
}
.container_calculator {
  margin-top: 100px;
  border: 1px solid black;
  width:400px;
  height: 250px;
  margin-left: 100px;
}
.main_cal{
  margin-top: 20px;
}
input{
  padding: 5px;
}
.btn_calculator{
  width:35px;
  height:35px;
  margin: 1px;
  border-radius: 7px;

}
h5{
  margin: 10px;

}
